
/*color pallet we should be using
#A63045
#EBF6F4
#9BD0D1
#4E89AD
#1C3354
*/

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat&display=swap');


body {
    min-width: 300px;
    margin: 1em 1em 1em 1em;
    background-color: #1C3354;
}

header {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
    align-items: center;
    /*background-color: #A63045;*/
}

header img {
    width: auto;
    height: 5rem;
    float: left;
}
img {
    max-width: 300px;
}

nav {
    align-content: center;
    color: #EBF6F4;
    margin: 10px;
}

ul {
    list-style: none;
    margin: 0 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}
li {
    float: left;
    margin: 5px;
    
}

a {
    text-decoration: none;
    color: #EBF6F4;
    font-family: Didact Gothic;
    font-size: 15px;
}

footer {
    /*background-color: #A63045;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}

footer img {
    width: auto;
    height: 5rem;
    float: left;
}


h1 {
    color: #9BD0D1;
    font-size: 70px;
    font-family: Montserrat;
}

h2 {
    color: #4E89AD;
    font-size: 35px;
    font-family: Montserrat;
}

h3 {
    color: #9BD0D1;
    font-family: Montserrat;
    font-weight: bolder;
}

h4 {
    color: white;
    font-family: Didact Gothic;
    font-size: 1.5em;
}

h5 {
    color: white;
    font-family: Didact Gothic;
}

p {
    color: white;
    font-family: Didact Gothic;
}

#logo{
    padding: 1em 1em 1em 1em;
    /*display: grid;
    justify-content: left;*/
}

/*.headcontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}*/

header h1{
    /*margin:30px;*/
    font-family: Montserrat;
}
header h2{
    margin:30px;
    font-family: Montserrat;
}

.headernav{
    display:grid;
}

.featuredV img:hover {
    transform: scale(1.2);
}

main {
    text-align: left;
}

.featured {
    max-width: 320px;
}
.featuredV {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    float: left; 
    text-align: center;
    justify-content: center;

}

.featuredV img {
    width: 300px;
    height: auto;
}

#carsdisplay img{
    margin: 1em;
    padding: 5px;
}

ul#email{
    text-align: left;
    font-size: 15px;
}
#email:hover{
    color: #A63045;
}


