/* contact us */
main{
    text-align: left;
}
body h1{
    font-size: 3rem;
    text-align: center;
}
fieldset{
    margin-bottom: 40px;
    padding-left: 30px;
    padding-top: 10px;
}
label{
    font-size: 1.3rem;
    display: block;
}
input{
    display: block;
    margin-bottom: 30px;
    padding: 3px;
}
select{
    display: block;
    margin-bottom: 30px;
    padding: 3px;
}
#description{
    width: 400px;
    height: 200px;
}
#submitbtn{
    padding: 10px;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Home Page*/
body{
    max-width: 1440px;
}
main{
    text-align: center;
}
header{
    border-radius: 30px;
    display: flex;
}
header img{
    margin-left: 30px;
}
nav{
    display: block;
}
nav a {
    text-decoration: none;
    color: #4E89AD;
    font-size: 1.3rem;
}
nav a:hover {
    color: #EBF6F4;
    background-color: #4E89AD;
}
ul{
    list-style: none;
}
li{
    float: left;
    margin: 15px;
}
header h1{
    font-size: 3rem;
    text-align: center;
}
header h2{
    font-size: 1.7rem;
    text-align: center;
}
main h2{
    font-size: 2.5rem;
}
main p{
    font-size: 1.25rem;
}
main h3{
    font-size: 2rem;
}
.featured{
    background-color: #4E89AD;
    margin-left: 0;
    width: 1440px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.featuredV img{
    width: 300px;
    height: auto;
}
.title a{
    text-decoration: none;
    display: inline;
    color: black;
}
.services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    text-align: end;
}
.services h4{
    text-align: center;
    font-size: 1.2rem;
}

/*reviews page*/
.reviews{
    text-align: left;
    margin-left: 30px;
    margin-right: 20px;
}
.reviews p{
    text-justify: distribute;
    font-style: italic;
    padding-left: 30px;
    padding-right: 30px;
}
.quotes{
    font-size: 40px;
}
#bottom{
    text-align: right;
}