/* Medium size screen*/
@media only screen and (max-width: 768px) {
    body{
        align-items: center;
        margin: 1em 1em 1em 1em;
    }
    a{
        display: block;
    }

    .featured{
        
    }
}

